# prod
dist/

# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/
.wrangler

# env
.env
.env.production
.dev.vars

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store

DATABASE_URL = "prisma://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMzdlODM5ZTYtOTdlOC00ZTljLWJlY2EtODE5NjY0MTAyN2Q1IiwidGVuYW50X2lkIjoiMWU3NmQwMzUyNzY4ZjY0MWE2NWMxODBhNzUwZDAwZDViMjE3MzY3NjlhNjMzYWIzNTUzOTZiMDRhZTAxMGQ5ZiIsImludGVybmFsX3NlY3JldCI6ImI3MDZjZTk1LWNkNTQtNGFjYy04MDllLTM1ZjJhMGI5MmZiNyJ9.uXpywtLL5o_J5oFYrDD3w-tenrxTa56oZtcd9zJbZ9M"
JWT_SECRET = "thisissecretkey"
